body { 
    font-family: Arial;
    color: black;
}

* {
    margin: 0;
    padding: 0;
} 

.button {
    transition-duration: 0.7s;
    cursor: pointer;
}

.titlesection {
    width: 100%;
    text-align: left;
    background-color: #02C39A;
    height: 500px;
}

.aboutme, .description {
    background-color: #48cae4;
    height: 500px;
    margin-top: 0px;
}

.description {
    float: right;
    width: 60%;
}

.aboutme {
    float: left;
    width: 40%;
}

.education {
    background-color: #00A896;
}

.work {
    background-color: #ADE8F4;
    font-family: 'Inter', sans-serif;	
}

h1 {
    font-size: 55pt;
    font-family: 'Inter', sans-serif;
    padding-top: 170px;
    padding-left: 100px;
    margin-top: 0px;
    color: white;
}
h2 {
    font-size: 20pt;
    font-family: 'Inter', sans-serif;	
    padding-left: 100px;
    color: white;
}

h3 {
    font-size: 30pt;
    font-family: 'Inter', sans-serif;
}

h3.sections {
    padding-left: 95px;
    padding-top: 85px;
}

h3.educationtitle {
    padding-top: 550px;
    padding-bottom: 60px;
    padding-left: 95px;
}

h3.buttontitle{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    text-align: top;
}

h4.schoolname {
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
    padding-left: 95px;
}

h5.typeofdegree {
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    padding-top: 10px;
    padding-left: 95px;
}

p.whoami {
    padding-top: 80px;
    padding-left: 55px;
    font-size: 20px;
    padding-right: 85px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}

p.whoami2 {
    padding-top: 30px;
    padding-left: 55px;
    font-size: 20px;
    padding-right: 85px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}

p.classwork {
    padding-top: 10px;
    padding-left: 95px;
    padding-bottom: 40px;
    font-size: 15px;
    padding-right: 85px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}

.project1 {
    background-color: #003566;
    color: white;
    border: 2px solid #003566;
    font-size: 15px;
    margin: 100px;
    height: 500px;
    width: 400px;
}

.project1:hover, .project1name:hover {
    background-color: rgb(245, 245, 245);
    color: #003566;
    border: 2px solid white;
}

.project1name {
    background-color: #003566;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 80px 20px;
    margin: 1px 0px;
}
