body, html { 
    font-family: Arial;
    color: black;
    scroll-behavior: smooth;
}

/* Formatting for all elements in site */
* {
    margin: 0;
    padding: 0;
} 

/* Formatting site banner at top of site */
.banner {
    width: 100%;
    background-color: skyblue;
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
}

/* Font format for banner text */
p.construction {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

/* Formatting navigation bars at top of site */
.navigation {
    width: 100%;  
    text-align: center;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* navigation link formatting */
a.nav:link {
    text-decoration: none;
    color: white;
    padding: 6%;
}
  
a.nav:visited {
    text-decoration: none;
    color: white;
}
  
a.nav:hover, a.project:hover {
    font-weight: bold;
}
  
a.nav:active {
    text-decoration: underline;
}

/* Formatting for title page of site */
.titlesection {
    width: 100%;
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);/*#025cc3;*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('sunplane.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    text-align: center;
}

/* Font formatting: h1 for large title page font */
h1 {
    font-size: 77px;
    padding-top: 180px;
}

/* Font formatting: h2 for smaller title page font */
h2 {
    font-size: 30px;
}

h1, h2 {
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}

/* Formatting for header icons */
.fa {
    padding-top: 15px;
    padding-bottom: 230px;
}

.fa:hover {
    opacity: 0.65;
  }

/* Formatting for website description section */
.aboutme, .description {
    /*background-color: skyblue; */
    /*background: linear-gradient(120deg, rgba(2,0,36,1), rgba(9,9,121,1));*/
    background-color: skyblue;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    color: black;
}

/* Font format for site description text, first paragraph */
p.whoami {
    font-size: 20px;
    padding: 90px;
    padding-top: 0px;
    padding-bottom: 50px;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5em;
}

/* Formatting for education section */
.education {
    /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(181,182,124,1) 100%);
    */background-color: #10769e;
}

h3.educationtitle {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 95px;
}

/* Formatting for work and project section */
.work {
    background-color: skyblue;
    font-family: 'Inter', sans-serif;	
}

/* Formatting for project descriptions */
.project1, .project2, .project3 {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 75%;
    padding-right: 0px;
    margin: auto;
}

.projectwebsite, .project3description, .project2describe {
    padding: 50px;
    padding-left: 30px;
    background-color: white;
    border-radius: 25px;
    transition: box-shadow .6s;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

a.project:visited {
    text-decoration: none;
    
}

.projectwebsite:hover, .project3description:hover, .project2describe:hover {
    box-shadow: 0 0 95px rgba(0, 0, 0, 0.356); 
} 

/* Formatting for footer section */
footer {
    width: 100%;
    background-color: rgb(53, 51, 83);
    text-align: center;
    color: white;
    font-family: 'Varela Round', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Font formatting: h3 for section title font */
h3 {
    font-size: 50px; /* % of browser window size */
    font-family: 'Inter', sans-serif;
    color: black;
}

h3.sections {
    padding-left: 95px;
    padding-top: 85px;
}

/* Font formatting: h4 for items in education list */
h4.schoolname {
    font-family: 'Rubik', sans-serif;	
    font-size: 18pt;
    padding-left: 95px;
}

/* Font formatting: h5 for type of degree for each item in list */
h5.typeofdegree {
    font-size: 10pt;
    padding-top: 10px;
    padding-left: 95px;
    font-family: 'Noto Sans Sogdian', sans-serif;
}

/* Font format for education description text */
p.classwork {
    padding-top: 10px;
    padding-left: 95px;
    padding-bottom: 40px;
    font-size: 15px;
    padding-right: 85px;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5em;
}

@media screen and (max-width: 1000px) {

    h1 {
        padding-left: 7%;
        padding-right: 7%;
    }
    h2 {
        padding: 5px;
    }

    h3.sections, h3.educationtitle {
        text-align: center;
        padding-left: 0;
    }

    h3.educationtitle {
        padding-bottom: 40px;
    }

    p.whoami, p.whoami2 {
        padding: 40px;
        padding-top: 0px;
    }

    a.nav:link {
        padding: 35px;
    }

    /* navigation link formatting */
    a.nav:link {
        text-decoration: none;
        color: white;
        padding: 3%;
    }

    h4 {
        text-align: center;
        padding: 0;
    }
    h4.schoolname, h5.typeofdegree, p.coursework {
        text-align: center;
        padding-left: 0px;
    }
}